<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/todolist/todo.css">
<script>
	var thing = {};
</script>
<script src="/static/todolist/markdown.js"></script>
<script src="/static/todolist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/todolist/todocode.js"></script>
</head>
<body onload="startup()">
	<h1>YOUR TASKS</h1>
	 
	<div id="addTask">
		<input v-model="taskname" type="text" placeholder="Type to add new task"/>
		<button v-on:click="addTask">ADD</button>
	</div>
	
	<table id="taskdisplay">
        <template v-for="task in tasklist">
            <my-task v-bind:details="task"></my-task>
        </template>
	</table>






	<div id="overlay">
		<div id="description">
			<span v-if="!inEditMode">{{{ description }}}</span>
			<textarea rows="15" cols="60" v-if="inEditMode" v-model="descriptiontxt"></textarea>
			<br>
			<button v-on:click="edit()" v-if="!inEditMode && !waiting">EDIT</button>
			<img alt="progress" src="/static/todolist/progress.gif" height="50pt" width="50pt" v-if="waiting">
			<button v-on:click ="save()" v-if="inEditMode">SAVE</button>
		</div>
	</div>
	
</body>
</html>