<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/todolist/todo.css">
<script>
	var thing = {};
</script>
<script src=/static/todolist/vue.js></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/todolist/todocode.js"></script>
</head>
<body onload="startup()">
	<h1>YOUR TASKS</h1>
	 
	<div id="addTask">
		<input v-model="taskname" type="text" placeholder="Type to add new task"></input>
		<button v-on:click="addTask">ADD</button>
	</div>
	
	<table id="taskdisplay">
		<tr v-for="task in tasklist">
			<td>
				<input type="checkbox" checked v-if="task.is_done"></input>
				<input type="checkbox" v-else></input>
			</td>
			<td v-on:click="showOverlay" class="tasks">{{ task.name }}</td> 
		</tr>
	</table>
	
	<div id="overlay" title="title">
	</div>
	
</body>
</html>